apiVersion: v1
clusters:
- name: {{cluster name}}
  cluster:
    certificate-authority-data: {{certificate data}}
    server: {{server URL}}
contexts:
- context:
    cluster: {{cluster name}}
    user: jenkins
  name: jenkins@{{cluster name}}
current-context: jenkins@{{cluster name}}
kind: Config
users:
- name: jenkins
  user:
    token: {{token}}
